<div class="container">
<fieldset>
    <legend>Registration</legend>
    <form name="signUpForm" novalidate>

    <table>

    <tr>
      <td>First name:</td><td><input type="text" name="firstname" placeholder="First name"
      ng-model="formCtrl.user.firstname"
      required
      minlength="4"
      ng-maxlength="10"></td>


      <td>
        <span ng-if="signUpForm.firstName.$invalid && signUpForm.firstName.$touched">
          First Name is required</span><br />

  </td>
  </tr>

  <tr>
      <td>Last name:</td><td><input type="text" name="lastname" placeholder="Last name"
      ng-model="formCtrl.user.lastname"
      required
      minlength="4"
      ng-maxlength="10"></td>


      <td>
        <span ng-if="signUpForm.lastName.$invalid && signUpForm.lastName.$touched">
          Last Name is required</span>
  </td>
  </tr>

  <tr>
      <td>Email address:</td><td><input type="email" name="email" placeholder="Email"
      ng-model="formCtrl.user.email"
      required></td>

      <td>
        <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
          Email is required</span><br />
    </td>
  </tr>

  <tr>
      <td>Phone:</td><td><input type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="formCtrl.user.phone"
      pattern="(\d{3})-(\d{3})-(\d{4})"></td>
      <td>
        <span ng-if="signUpForm.tel.$invalid && signUpForm.tel.$touched">
          Phone number is required. eg. 555-555-5555 </span>
    </td>
  </tr>

  <tr>
      <td>menu number:</td><td><input type="text" name="menu" placeholder="favor menu number"
      ng-model="formCtrl.user.menu"
      required></td>

      <td>
        <span ng-if="formCtrl.itemError">
          {{formCtrl.itemError}}</span><br />
    </td>
  </tr>
    </table>

    <button class="btn btn-default" ng-click="formCtrl.submit()" type="button" ng-disabled="signUpForm.$invalid">
      Sign Up!</button>


      <br/>
          <div ng-show="formCtrl.user.registered">
            Your information has been saved </div>

    </form>
  </fieldset>

</div>
